html,
body {
  height: 100%;
  background-color: brown;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 110px; /* this needs to be bigger than footer height*/
  padding-top: 30px;
}

.footer {
  position: relative;
  margin-top: -110px; /* negative value of footer height */
  height: 110px;
  clear:both;
  padding-top:20px;
  background-color: #E7C98B;
  color: #7F2400;
  text-align: center;
  border-top: 1px black dashed;
  font-family: Arial;
}

.header {
  position: relative;
  margin-bottom: -30px; /* negative value of footer height */
  height: 30px;
  clear:both;
  padding-top:20px;
  background-color: #E7C98B;
  border-bottom: 1px black dashed;
}

.logo-large-text {
  margin-bottom: 0;
  margin-top: 0;
  position: absolute;
  font-size: 44px;
  top: 10px;
  color: #FAF0DC;
}

.logo-tiny-text {
  margin-top: 0;
  padding-top: 0;
  position: absolute;
  top: 48px;
  left: 53px;
  font-size: 11px;
  color: #E7C987;
}
.gly-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.cart-logo-text {
  color: #E4C283;
}