html,
body {
  height: 100%;
  background-color: #38201A;
  background-image:
  linear-gradient(90deg, rgba(255,255,255,.07) 90%, transparent 10%),
  linear-gradient(90deg, rgba(255,255,255,.13) 90%, transparent 10%),
  linear-gradient(90deg, transparent 90%, rgba(255,255,255,.17) 10%),
  linear-gradient(90deg, transparent 90%, rgba(255,255,255,.19) 10%);
  background-size: 13px, 29px, 37px, 53px;
}

#wrap {
  min-height: 100%;
  -webkit-box-shadow: inset 10px -270px 90px 0px rgba(78, 55, 55, .8);
  -moz-box-shadow:    inset 10px -270px 90px 0px rgba(78, 55, 55, .8);
  box-shadow:         inset 10px -270px 90px 0px rgba(78, 55, 55, .8);
}

#main {
  overflow: auto;
  padding-bottom: 110px; /* this needs to be bigger than footer height*/
  padding-top: 50px;
}

.footer {
  position: relative;
  margin-top: -110px; /* negative value of footer height */
  height: 110px;
  clear:both;
  padding-top:20px;
  background-color: #E7C98B;
  color: #7F2400;
  text-align: center;
  border-top: 1px #352821 dashed;
  font-family: Arial;
}

.header {
  position: relative;
  margin-bottom: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding-top:20px;
  background-color: #E7C98B;
  border-bottom: 1px #352821 dashed;
}

.logo-large-text {
  margin-bottom: 0;
  margin-top: 0;
  position: absolute;
  font-size: 44px;
  top: 10px;
  color: #FAF0DC;
}

.logo-tiny-text {
  margin-top: 0;
  padding-top: 0;
  position: absolute;
  top: 48px;
  left: 53px;
  font-size: 11px;
  color: #E7C987;
}

.cart-logo-text {
  color: #E4C283;
}

.jumbotron {
  background-color: #FAEFD9;
}

h2 {
  color: #73554D;
}

.single-line-nav {
  position: relative;
  top: 12px;
}

.nav {
  background: -webkit-linear-gradient(#E6C88C, #CEAE65);
  background: -o-linear-gradient(#E6C88C, #CEAE65);
  background: -moz-linear-gradient(#E6C88C, #CEAE65);
  background: linear-gradient(#E6C88C, #CEAE65);
}

.nav-padding {
  background-color: #FAEFD9;
  padding-bottom: 20px;
}

div[class^="nav"] {
  border-radius: 5px 5px 0 0;
}

div[class^="nav"] > p {
  color: #7C5E25;
}

.jumbotron > div {
  width: 98%;
  min-height: 150px;
  margin: 0 auto;
  border-radius: 5px;
  background:
  radial-gradient(circle at 50% 150%, rgba(223,190,130,1) 0, rgba(223,190,130,1) 65%, rgba(126,60,8,1) 100%);
}

.bottom-sec-title {
  border-top: 1px dashed #4A3328;
  border-left: 1px solid #4A3328;
  border-right: 1px solid #4A3328;
  border-bottom: 1px dashed #4A3328;
  background-color: #26140F;
  color: #C0AE8A;
}

.bottom-sec {
  display: inline-block;
  margin: 2%;
  width: 28%;
  height: 90%;
  background: #4b352b; /* Old browsers */
  background: -moz-linear-gradient(top, rgba(75, 53, 43, 1) 42%, rgba(75, 53, 43, 0.8) 76%, transparent 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(42%,rgba(75, 53, 43, 1)), color-stop(76%,rgba(75, 53, 43, 0.8)), color-stop(100%,transparent)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(75, 53, 43, 1) 42%,rgba(75, 53, 43, 0.8) 76%,transparent 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(75, 53, 43, 1) 42%,rgba(75, 53, 43, 0.8) 76%,transparent 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(75, 53, 43, 1) 42%,rgba(75, 53, 43, 0.8) 76%,transparent 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(75, 53, 43, 1) 42%,rgba(75, 53, 43, 0.8) 76%,transparent 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b352b', endColorstr='transparent',GradientType=0 ); /* IE6-9 */
  border-left: 1px solid #684B3B;
  border-right: 1px solid #684B3B;
  -moz-border-radius-topleft: 10px:
  -moz-border-radius-topright: 10px;
  border-radius-topleft: 10px:
  border-radius-topright: 10px;
  border-top: 3px solid #684B3B;
  color: #C1B18A;
  vertical-align: top;
  padding-bottom: 30px;
}

.bottom-sec-btn {
  display: inline-block;
  margin: 2%;
  width: 28%;
  height: 90%;
  vertical-align: top;
}

hr {
  border-color: #684B3B;
  width: 90%;
}

button {
  background: -webkit-linear-gradient(#CEAE65, #E6C88C); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#CEAE65, #E6C88C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#CEAE65, #E6C88C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#CEAE65, #E6C88C); /* Standard syntax (must be last) */
  color: #89460F;
  border-radius: 15px;
  border: 1px solid #E0C180;
  padding: 12px 29px;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom,  from(transparent), color-stop(25%, transparent), to(rgba(255, 255, 255, 0.15)));
  margin-bottom: 30px;
  margin-top: 20px;
}

.icon {
  border: 1px solid #9A755F;
  float: left;
  margin-right: 4px;
}

span.title {
  font-weight: 700;
}

div.bottom-sec > p {
  padding: 0;
  margin: 0;
}

div.bottom-sec > p.spacer {
  margin-top: 20px;
}

.btm-sec-left {
  margin-left: 3%;
}

.btm-sec-right {
  margin-right: 3%;
}

.mini-container {
  width: 92%;
  margin: 0 auto;
}

@media only screen and (max-width : 992px) {
  .single-line-nav {
    position: relative;
    top: 20px;
  }
  .nav-padding {
    padding-bottom: 40px;
  }
}

@media only screen and (max-width : 768px) {
  li > a {
    background-color: #E7C98B;
    color: #7F2400!important;
  }
}